@import 'base';

code {
    &.golang, &.x64-assembly {
        white-space: pre;
        font-weight: 600;
        display: block;
        background-color: #dfdfdf;
    }
}

p {
    text-align: justify;
}