<main>
    <h2></h2>
    <table>
        <thead>
            <tr>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            {{range .Entries}} 
             <tr>
                <td class="td--time">{{ .CreatedAt.Format "2006-01-02" }}</td>
                <td><a class="a--blog-title" href="{{.Path}}">{{.Title}}</a></td>
            </tr>
            {{end}}
        </tbody>
    </table>
</main>