<main>
    <table>
        <thead>
            <tr>
                <th colspan="2">Posts</th>
            </tr>
        </thead>
        <tbody>
            {{range .Entries}} 
             <tr>
                <td class="time">{{ .CreatedAt.Format "2006-01-02 15:04:05" }}</td>
                <td><a href="{{.Path}}">{{.Title}}</a></td>
            </tr>
            {{end}}
        </tbody>
    </table>
</main>