<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>hiddenbyte.log</title>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ .Style }}">
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-165367789-1', { 'allow_ad_personalization_signals': false, 'anonymize_ip': true });
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165367789-1"></script>
  </head>
  <body>
    <header>
        <h1><a href="https://mehul.pt">hiddenbyte.log</a></h1>
    </header>
    {{template "content.template" .}}
    <footer>
        Written by <a href="https://twitter.com/hiddenbyte" target="_blank">@hiddenbyte</a>
    </footer>
  </body>
</html>