<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>hiddenbyte.log</title>
    <link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ .Style }}">
  </head>
  <body>
    <header>
        <h1>hiddenbyte.log</h1>
    </header>
    {{template "content.template" .}}
    <footer>
        Written by <a href="https://twitter.com/hiddenbyte" target="_blank">@hiddenbyte</a>
    </footer>
  </body>
</html>