$pallete-color-1:#fafafa;
$pallete-color-2:#dfdfdf;
$pallete-color-3:#c7eeff;
$pallete-color-4:#0077c0;
$pallete-color-5:#1d242b;

$bg-color: $pallete-color-1;
$title-color: $pallete-color-4;
$link-color: $pallete-color-4;
$font-stack: 'PT Serif', serif;
$font-size: 20px;
$max-width: 840px;

body  {
    background-color: $bg-color;
    font-family: $font-stack;
    font-size: $font-size;
    color: $pallete-color-5;

    header, main, footer {
        margin: 0 auto;
        max-width: $max-width;
    }

    footer {
        margin-top: 10px;
    }
}

h1 {
    a {
        color: $pallete-color-5;
        text-decoration-line: none;
    }
}

h2, h3, h4, h5, th {
    color: $title-color;
}


a {
    color: $link-color;
}