@import 'base';

blockquote {
    text-align: justify;
    border-left-style: solid;
    border-color: $pallete-color-6;
    color: $pallete-color-6;
    padding-left: 5px;
}

p {
    text-align: justify;
}

.highlight {
    font-size: $code-font-size;
}