{{ define "title" }}
  Posts
{{ end }}

{{ define "main" }}

{{ $pages := where site.RegularPages "Type" "posts" }}
{{ $paginator := .Paginate $pages }}
<ul class="blog-entries">
    {{ range $paginator.Pages }}
        <li class="blog-title"><span class="span--blog-date">{{ .Date | time.Format "02-01-2006" }}</span><a class="a--blog-title" href="{{ .Permalink }}">{{ .Title }}</a>{{ range .GetTerms "tags" }} <a class="tag" href="{{ .Permalink }}">{{ .LinkTitle }}</a>{{ end }}</li>
    {{ end }}
</ul> 

{{ end }}
