{{- $respSizes := slice "480" "720" "1080" -}}
{{- $src := .Page.Resources.GetMatch .Destination -}}

{{- if $src -}}
  {{- /* 1. Fix Rotation First */ -}}
  {{- $img := $src.Filter (images.AutoOrient) -}}
  
  {{- /* 2. Generate the srcset */ -}}
  {{- $srcset := slice -}}
  {{- range $respSizes -}}
    {{- if lt (int .) $img.Width -}}
      {{- $resized := $img.Resize (printf "%sx webp" .) -}}
      {{- $srcset = $srcset | append (printf "%s %sw" $resized.RelPermalink .) -}}
    {{- end -}}
  {{- end -}}
  
  {{- /* 3. Fallback/Default image */ -}}
  {{- $placeholder := $img.Resize "1080x webp" -}}

  <img 
    src="{{ $placeholder.RelPermalink }}"
    srcset="{{ delimit $srcset ", " }}"
    sizes="(min-width: 1080px) 1080px, 100vw"
    {{ with .Text }}alt="{{ . }}"{{ end }}
    loading="lazy"
    decoding="async"
    width="{{ $img.Width }}"
    height="{{ $img.Height }}"
    style="height: auto; max-width: 100%;"
  >
{{- else -}}
  <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" loading="lazy">
{{- end -}}