{{ define "title" }}
  #{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "styles" }}
{{ $indexStyle := resources.Get "sass/index.scss" | css.Sass | resources.Minify | resources.Fingerprint }}
<link type="text/css" href="{{ $indexStyle.Permalink }}" rel="stylesheet">
{{ end }}

{{ define "main" }}

{{ $pages := .Pages }}
{{ $paginator := .Paginate $pages }}
<p class="tag-heading">#{{ .Title }}</p>
<ul class="blog-entries">
    {{ range $paginator.Pages }}
        <li class="blog-title"><span class="span--blog-date">{{ .Date | time.Format "02-01-2006" }}</span><a class="a--blog-title" href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
</ul>

{{ end }}
